/* Font Loading */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Shadows+Into+Light&display=swap');

/* Overall styling for the create spot form */
.create-spot-form {
  font-family: "Shadows Into Light", cursive;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #edededcb;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Header styles for h2 and h3 */
.create-spot-form h2,
.create-spot-form h3 {
  color: rgba(0, 0, 0, 0.612);
  margin-bottom: 10px;
}

/* Paragraph styles */
.create-spot-form p {
  font-size: 0.9rem;
  color: #000000;
  margin-bottom: 15px;
}

/* Styles for different sections of the form */
.create-spot-form .create-form,
.create-spot-form .description,
.create-spot-form .spot-name,
.create-spot-form .price,
.create-spot-form .spot-photos {
  margin-bottom: 20px;
}

/* Label styles */
.create-spot-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Input and textarea styles */
.create-spot-form input[type="text"],
.create-spot-form input[type="number"],
.create-spot-form input[type="url"],
.create-spot-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Additional styles for textarea */
.create-spot-form textarea {
  height: 100px;
  resize: vertical;
}

/* Error message styles */
.create-spot-form .error-messages {
  color: #e51e53;
  font-size: 0.8rem;
  margin-top: 5px;
}

/* Button styles */
.create-spot-form button {
  color: rgb(255, 255, 255);
  padding: 10px 15px;
  cursor: pointer;
  font-size: 2rem;
  background-color: #43a047;
  transition: background-color 0.3s;
}

/* Hover effect for the button */
.create-spot-form button:hover {
  background-color: #43a047;
}

