/* TODO: Add sitewide styles */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Shadows+Into+Light&display=swap');

footer {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
}
